@import 'style.css';

main {
  display: grid;
  justify-content: center;
  align-content: center;
}

/* Main */

#title {
  text-align: center;
}

#form {
  display: flex;
  justify-content: center;
}

#form__input {
  font-size: 20px;
  text-align: center;
}

#feedback {
  padding: 1rem;
  text-align: center;
}
